.env
node_modules/
wiki/
*.code-workspace

src/assets/ProjectFiles/
src/assets/Emojis
src/bot_data/config.json

# Random debug thing
dev/

# These files are created internally so useless to keep
src/game_data/pricedata.json
src/game_data/itemfromname.json
src/game_data/quests.json
src/game_data/questnames.json
src/game_data/itemdata.json