.env
node_modules/
wiki/
*.code-workspace
*.psd

src/commands/unused

src/assets/ProjectFiles/
src/assets/Emojis

# Random debug thing
dev/

# These files are created internally so useless to keep
src/game_data/
src/bot_data/commands.json
src/bot_data/notifylist.json
